<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tetherfi Test Automation" parallel="false">
    <listeners>
        <listener class-name="com.tetherfi.listeners.ReportListener"/>
    </listeners>
    
     <test name="Branch Management UI" parallel="false">
      <classes>  
           <class name="com.tetherfi.test.ivr.BranchManagementUITest"/> 
            </classes>
     </test>
     <test name="Branch ManagementCreate" parallel="false">
      <classes>  
           <class name="com.tetherfi.test.ivr.BranchManagementCreateTest"/> 
            </classes>
     </test>
     <test name="Branch ManagementEDit" parallel="false">
      <classes>  
           <class name="com.tetherfi.test.ivr.BranchManagementEditTest"/> 
            </classes>
     </test>
     <test name="Branch ManagementDelete" parallel="false">
      <classes>  
           <class name="com.tetherfi.test.ivr.BranchManagementDeleteTest"/> 
            </classes>
     </test>
    
    
</suite>